openapi: 3.0.3
info:
  title: Messaging API v3.x
  version: 3.x
  description: |
    Send and receive SMS & MMS programmatically, leveraging Australia's leading mobile network.
    With Telstra's Messaging API, we take out the complexity to allow seamless messaging integration into your app, with just a few lines of code.
    Our REST API is enterprise grade, allowing you to communicate with engaging SMS & MMS messaging in your web and mobile apps in near real-time on a global scale.
servers:
  - url: 'https://messaging-api.massl.pr.sdppcf.com'
    description: Messaging API
paths:
  /messages:
    post:
      security:
        - bearer_auth: []
      tags:
        - messages
      summary: send messages
      description: |
        Send an SMS/MMS to a mobile number, or to multiple mobile numbers.

        Free Trial users can message to up to 10 unique recipient numbers for free. The first five recipients will be automatically added to your Free Trial Numbers list. Need more? Just use the POST /free-trial-numbers call to add another five.
      operationId: sendMessages
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        $ref: '#/components/requestBodies/messagePost'
      responses:
        '201':
          description: |
            A 201 Created response means your message has sent.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Location:
              schema:
                type: string
                example: '/messages/{messageId}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSent'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | RECIPIENT_OPTOUT | Use GET/recipient-optouts/{number} to check which numbers have opted out of receiving messages from a Virtual Number. |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | SENDERNAME_ERR | Email telstradev@team.telstra.com to request approval for this senderName. |
            | MODERATION_ERR | Please remove any swear words or offensive language. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
            | MULTIMEDIA_TOO_LARGE | Reduce the multimedia file size and try again. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
            | ACCOUNT_LIMIT_ERROR | Check the credit and limits on your account [here](https://dev.telstra.com). |
            | FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is POST. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '413':
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | MULTIMEDIA_TOO_LARGE | Reduce multimedia size |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      security:
        - bearer_auth: []
      tags:
        - messages
      summary: fetch all sent/received messages
      description: Fetch messages that have been sent from/to your account in the last 30 days.
      operationId: getMessages
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/messageDirection'
        - $ref: '#/components/parameters/messageStatus'
        - $ref: '#/components/parameters/messageFilter'
      responses:
        '200':
          description: |
            A 200 response means the call has been successful.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    minItems: 1
                    maxItems: 50
                    items:
                      $ref: '#/components/schemas/MessageGet'
                    description: |
                      The paginated results of your request. To fetch the next set of results, send another request and provide the succeeding offset value.
                  paging:
                    type: object
                    properties:
                      nextPage:
                        type: string
                        description: The next page of results.
                      previousPage:
                        type: string
                        description: The previous page of results.
                      lastPage:
                        type: string
                        description: The last page of results.
                      totalCount:
                        type: number
                        description: The total number of pages.
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/messages/{messageId}':
    get:
      security:
        - bearer_auth: []
      tags:
        - messages
      summary: fetch a specific message
      description: |
        Use the **messageId** to fetch a message that's been sent from/to your account within the last 30 days.
      operationId: getMessageById
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/messageIdGet'
      responses:
        '200':
          description: |
            A 200 response means the call has been successful.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageGet'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from/to this account. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | TIMEFRAME_ERR | Ensure the messageId corresponds to a message that is not more than 30 days old. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '406':
          description: |
            Media type invalid

            | code | suggested_action |
            | :--- | :--- |
            | MEDIA_TYPE_INVALID | Check the media type in the Accept header. It should be application/json. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '415':
          description: |
            Payload media type error

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_MEDIA_TYPE_ERR | Check the media type in the Accept header. It should be application/json. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: |
            Logic error

            | code | suggested_action |
            | :--- | :--- |
            | LOGIC_ERR | Check the logic of the request and try again. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      security:
        - bearer_auth: []
      tags:
        - messages
      summary: update a message
      description: |
        Need to update a message that's scheduled for sending? You can change any of the below parameters, as long as the message hasn't been sent yet. This request body will override the original POST/ messages call.
      operationId: updateMessageById
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/messageId'
      requestBody:
        $ref: '#/components/requestBodies/messagePut'
      responses:
        '200':
          description: |
            A 200 response means the call has been successful.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageUpdate'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | UPDATE_INVALID_MSG_SENT | The message can't be updated because it's already been sent. |
            | ID_INVALID | Ensure the messageId corresponds to an outgoing message. |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from this account. |
            | RECIPIENT_OPTOUT | The recipient has opted out of receiving messages from this Virtual Number.  |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | SENDERNAME_ERR | Email (telstradev@team.telstra.com) to request approval for this senderName.|
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
            | MULTIMEDIA_TOO_LARGE | Reduce the multimedia file size and try again. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
            | FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is PUT. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '413':
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | MULTIMEDIA_TOO_LARGE | Reduce multimedia size |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      security:
        - bearer_auth: []
      tags:
        - messages
      summary: delete a message
      description: |
        Use this endpoint to delete a message that's been scheduled for sending, but hasn't yet sent.
      operationId: deleteMessageById
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/messageId'
      responses:
        '204':
          description: |
            A 204 response means your message has been deleted.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | DELETE_INVALID_MSG_SENT | The message can't be deleted because it's already been sent. |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from/to this account. |
            | TIMEFRAME_ERR | Ensure the messageId corresponds to a message that is not more than 30 days old. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is DELETE. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    patch:
      security:
        - bearer_auth: []
      tags:
        - messages
      summary: update message tags
      description: |
        Use the **messageId** to update the tag(s) assigned to a message. You can use this endpoint any time, even after your message has been delivered.
      operationId: updateMessageTags
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/messageId'
      requestBody:
        $ref: '#/components/requestBodies/messageTags'
      responses:
        '204':
          description: |
            A 204 No Content response means your tag(s) have been successfully updated.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | ID_INVALID | Ensure the messageId corresponds to an outgoing message. |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from this account. |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is PATCH. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '413':
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /virtual-numbers:
    post:
      security:
        - bearer_auth: []
      tags:
        - virtual numbers
      summary: assign a virtual number
      description: |
        When a recipient receives your message, you can choose whether they'll see a privateNumber, Virtual Number or senderName (paid plans only) in the **from** field. If you want to use a Virtual Number, use this endpoint to assign one. Free Trial users can assign one Virtual Number, and those on a paid plan can assign up to 100. 

        Virtual Numbers that have not sent a message in 30 days (Free Trial) or sent/received a message in 18 months (paid plans) will be automatically unassigned from your account. You can check the **lastUse** date of your Virtual Number at any time using GET /virtual-numbers/{virtual-number}.

        Note that Virtual Numbers used in v2 of the Messaging API cannot be used to send messages in v3. Please assign a new Virtual Number instead.
      operationId: assignNumber
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        $ref: '#/components/requestBodies/numberPost'
      responses:
        '201':
          description: |
            A 201 Created response means a Virtual Number has been assigned to your account. You can find this 10-digit number in the response body.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Location:
              schema:
                type: string
                example: '/virtual-numbers/{virtual-number}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Virtual-number'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
            | ACCOUNT_LIMIT_ERROR | Check the maximum number of Virtual Numbers that can be assigned to your account. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is POST. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '413':
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      security:
        - bearer_auth: []
      tags:
        - virtual numbers
      summary: fetch all virtual numbers
      description: |
        Use this endpoint to fetch all Virtual Numbers currently assigned to your account.
      operationId: getNumbers
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/numberFilter'
      responses:
        '200':
          description: |
            A 200 OK response means your request has been successful. Your Virtual Number(s) will be returned in the response body.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                type: object
                properties:
                  virtualNumbers:
                    type: array
                    minItems: 0
                    maxItems: 50
                    items:
                      $ref: '#/components/schemas/Virtual-number'
                    description: |
                      The paginated results of your request. To fetch the next set of results, send another request and provide the succeeding offset value.
                  paging:
                    $ref: '#/paths/~1messages/get/responses/200/content/application~1json/schema/properties/paging'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/virtual-numbers/{virtual-number}':
    get:
      security:
        - bearer_auth: []
      tags:
        - virtual numbers
      summary: fetch a virtual number
      description: 'Fetch the tags, replyCallbackUrl and lastUse date for a Virtual Number.'
      operationId: getVirtualNumber
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/virtual-number'
      responses:
        '200':
          description: |
            A 200 OK response means your request has been successful.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Virtual-number'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | VIRTUAL_NUM_INVALID | Check the number is a valid Virtual Number. |
            | VIRTUAL_NUM_UNASSIGNED | Check the number is assigned to your account. |
            | FIELD_INVALID | Ensure the number is a 10-digit Australian mobile number in national format (e.g. 0412345678). |
            | FIELD_LENGTH_ERR | Ensure the number is 10 digits only (e.g. 0412345678). | 
            | FIELD_MISSING | Please supply the number. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | VIRTUAL_NUM_UNKNOWN | Check the number is a valid Virtual Number. |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      security:
        - bearer_auth: []
      tags:
        - virtual numbers
      summary: update a virtual number
      description: |
        Use **virtual-number** to update the tags and/or replyCallbackUrl of a Virtual Number.

        This request body will override the original POST/ virtual-numbers call.
      operationId: updateNumber
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/virtual-number'
      requestBody:
        $ref: '#/components/requestBodies/numberPut'
      responses:
        '200':
          description: |
            A 200 OK response means metadata for the Virtual Number has been successfully updated.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Virtual-number'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | VIRTUAL_NUM_INVALID | Check the number is a valid Virtual Number. |
            | VIRTUAL_NUM_UNASSIGNED | Check the number is assigned to your account. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. | 
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Please supply all required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access Token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | VIRTUAL_NUM_UNKNOWN | Check the number is a valid Virtual Number. |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is PUT. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '413':
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      security:
        - bearer_auth: []
      tags:
        - virtual numbers
      summary: delete a virtual number
      description: |
        Use **virtual-number** to remove a Virtual Number that's been assigned to your account.
      operationId: deleteNumber
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/virtual-number'
      responses:
        '204':
          description: |
            A 204 response means the Virtual Number has been successfully removed from your account.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | VIRTUAL_NUM_INVALID | Check the number is a valid Virtual Number. |
            | VIRTUAL_NUM_UNASSIGNED | Check the number is assigned to your account. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. | 
            | FIELD_MISSING | Please supply all required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access Token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | VIRTUAL_NUM_UNKNOWN | Check the number is a valid Virtual Number. |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is DELETE. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/virtual-numbers/{virtual-number}/optouts':
    get:
      security:
        - bearer_auth: []
      tags:
        - virtual numbers
      summary: Get recipient optouts list
      description: |
        Use this endpoint to fetch any mobile number(s) that have opted out of receiving messages from a Virtual Number assigned to your account.

        Recipients can opt out at any time by sending a message with industry standard keywords such as STOP, STOPALL, UNSUBSCRIBE, QUIT, END and CANCEL.
      operationId: getRecipientOptouts
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/virtual-number'
      responses:
        '200':
          description: Successful Response
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                type: object
                properties:
                  recipientOptouts:
                    type: array
                    minItems: 0
                    maxItems: 50
                    description: |
                      The paginated results of your request. To fetch the next set of results, send another request and provide the succeeding offset value.
                    items:
                      $ref: '#/components/schemas/Recipient-optout'
                  paging:
                    $ref: '#/paths/~1messages/get/responses/200/content/application~1json/schema/properties/paging'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | VIRTUAL_NUM_INVALID | Check the number is a valid Virtual Number. |
            | VIRTUAL_NUM_UNASSIGNED | Check the number is assigned to your account. |
            | FIELD_INVALID | Ensure the number is a 10-digit Australian mobile number in national format (e.g. 0412345678). |
            | FIELD_LENGTH_ERR | Ensure the number is 10 digits only (e.g. 0412345678). |
            | FIELD_MISSING | Please supply the number. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | VIRTUAL_NUM_UNKNOWN | Check the number is a valid Virtual Number. |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /free-trial-numbers:
    post:
      security:
        - bearer_auth: []
      tags:
        - free trial numbers
      summary: create free trial number list
      description: |
        Your Free Trial Numbers are the 10 recipient mobile numbers that you can message during the Free Trial. The first five numbers you send an SMS/MMS to will automatically be added to your Free Trial Numbers list. After that, you can use this endpoint to register another five. Alternatively, you can use this endpoint to register all 10 numbers.  

        Use this endpoint to register a Free Trial Number to your account. To test out all the features that the trial has to offer, we recommend registering your own mobile number to your Free Trial Numbers list. 

        Note that you can only message mobile numbers that have been added to your Free Trial list and once registered, a Free Trial Number cannot be removed or replaced.
      operationId: createTrialNumbers
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        $ref: '#/components/requestBodies/trial-numbers'
      responses:
        '201':
          description: |
            A 201 OK response means your request has been successful. Your registered Free Trial Number(s) will be returned in the response.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Location:
              schema:
                type: string
                example: '/free-trial-numbers/{number}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeTrialNumbers'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. | 
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
            | ACCOUNT_LIMIT_ERROR | You've reached the maximum quota of Free Trial Numbers that can be registered to your account. Upgrade to a paid plan to send a message to this recipient.   |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | FREE_TRIAL_ERR | This call is only applicable to Free Trial users. Check if the call is required. |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is POST. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '413':
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      security:
        - bearer_auth: []
      tags:
        - free trial numbers
      summary: get all free trial numbers
      description: |
        Use this endpoint to fetch the Free Trial Number(s) currently assigned to your account. These are the mobile numbers that you can message during the Free Trial.

        If you're using a paid plan, there's no limit to the number of recipients that you can message, so you don't need to register Free Trial Numbers.
      operationId: getTrialNumbers
      parameters:
        - $ref: '#/components/parameters/TelstraAPIVersion'
        - $ref: '#/components/parameters/ContentLanguage'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/AcceptCharset'
        - $ref: '#/components/parameters/ContentType'
      responses:
        '200':
          description: |
            A 200 OK response means your request has been successful. Your Free Trial Number(s) will be returned in the response body.
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeTrialNumbers'
        '400':
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | FREE_TRIAL_ERR | This call is only applicable to Free Trial users. Check if the call is required. |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '405':
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '429':
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
            Retry-After:
              schema:
                type: number
                example: 3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        default:
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                type: string
                example: en-au
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /logs:
    get:
      security:
        - bearer_auth: []
      tags:
        - logs
      summary: get logs
      description: |
[...]
